/*Responsive CSS media queries*/


/*==================================*/
/*300px*/
/*==================================*/
@media only screen and (min-width:300px) {
  /* For mobile phones: */
  ul.navbar-nav{
    float:left;
  }
  #home {
      background: url("../im/main_mobile.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  #careers {
    background: url("../im/mobile_career.png") no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
  }
  #map_canvas {
    width:100%;
    min-height: 400px;
  }
  #map-content {
    width:90%;
    margin:auto;
    background:#00E5FF;
  }
  #about {
    background: url("../im/abtus600.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  }/*End responsive 300px*/




  /*==================================*/
  /*Start responsive 600px*/
  /*==================================*/
  @media only screen and (min-width: 600px) {
    #about {
      background: url("../im/abtus600.jpg") no-repeat center center;
      padding-bottom:300px;
    }
    #home {
        background: url("../im/desktop.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #careers {
      background: url("../im/workwithus.png") no-repeat center center;
      -webkit-background-size: cover;
      background-size: cover;
    }
    #main-container {
      padding-bottom:300px;
    }
    /* For tablets: */
    ul.navbar-nav{
      float:left;
    }
    #map-content {
      width:80%;
      margin:auto;
      background:#00E5FF;
    }
    }/*End responsive 600px*/

    @media only screen and (min-width: 768px) {
      /* For desktop: */
      #about {
        background: url("../im/abtus.jpg") no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
      #home {
          background: url("../im/desktop.jpg") no-repeat center center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
      }
      #careers {
        background: url("../im/workwithus.png") no-repeat center center;
        -webkit-background-size: cover;
        background-size: cover;
      }
      ul.navbar-nav{
        float:right;
      }
      p.copyright {
        float:right;
        text-align:left;
      }
      #details-col {
        width:20%;
      }
      #map_canvas{
        top: 0;
        min-height: 800px;
        position: relative !important;
      }
      #contact-form {
        padding-right:50px;
        padding-left:50px;
      }
    }
